html, body {
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navbar {
    width: 100vw;
    height: 4vh;
    background-color: #0B0C10;
    position: sticky;
    padding-top: 2vh;
    padding-bottom: 4vh;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

#web-nav {
    justify-content: flex-start;
    flex-wrap: wrap;
}

#logo {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: #66FCF1;
    text-decoration: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 17px;
    color: white;
    margin: 0 2vw;
}

.nav-links a:hover {
    color: #66FCF1;
}

.container {
    display: flex;
    flex-direction: column;
}

#intro {
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57) ), 
    url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    padding: 10vh 0;
}
#intro h1 {
    font-size: 60px;
    color: #66FCF1;
 }

 #intro h3 {
     font-size: 30px;
     color: white;
 }

 #intro p {
     font-size: 20px;
     color: white;
 }

 #about {
    margin: 0 2vw;
    flex-direction: row;
 }
 
 #about h2 {
     color: #1F2833;
     font-size: 40px;
 }

 #about-text {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     float: right;
 }