html, body {
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.navbar {
    width: 100vw;
    height: 4vh;
    background-color: transparent;
    position: absolute;
    top: 2%;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

#web-nav {
    justify-content: flex-start;
    flex-wrap: wrap;
}

#logo {
    font-family: 'Lobster', cursive;
    font-size: 38px;
    color: #F48046;
    text-decoration: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 17px;
    color: white;
    margin: 0 2vw;
}

.nav-links a:hover {
    color: #F48046;
}

.container {
    display: flex;
    flex-direction: column;
}

#intro {
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
    url(assets/banner-image.jpg)
     no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    padding: 20vh 0;
}

#intro h1 {
    font-size: 60px;
    color: white;
    text-shadow: 3px 3px #F48046;
}

#intro h3 {
    font-size: 30px;
    color: white;
}

#intro p {
    font-size: 20px;
    color: white;
    margin-bottom: 80px;
}

#intro-btn {
    background-color: #F48046;
    width: 200px;
    height: 50px;
    border-color: #F48046;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

#intro-btn:hover{
    background-color: #B65F86;
    border-color: #B65F86;
    cursor: pointer;
}

#skills-section {
    background-color: #F6F7F4;   
}

#skills-container {
    width: 80vw;
    margin-top: 50px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;

}


#skills-container h2 {
    font-size: 40px;
    color: #1F2833;
    margin-bottom: 50px;
}

#skills-icons-container {
    display: flex;
    flex-direction: column;
}

.skill-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.skills-icons {
    margin: 20px;
    width: 80px;
}

#projects {
    text-align: center;
    margin: 0 auto;
}

footer {
    background-color: black;
    text-align: center;
    padding-bottom: 40px
}

footer h4, p {
    color: white;
    margin-bottom: 25px;
}

.contact-icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 40vw;
    margin: 0 auto;
}


