html, body {
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 12px;
}

.navbar {
    display: flex;
    padding: 16px;
    position: sticky;
    background-color: #2f304a;
}

.nav-links {
    padding-right: 8px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-right {
    margin-left: auto;
}

#logo {
    font-family: 'Lobster', cursive;
    font-size: 38px;
    color: #F48046;
    text-decoration: none;
}

.nav-links a {
    font-size: 17px;
    margin: 0 2vw;
}

.nav-links a:hover {
    color: #F48046;
}

.nav-link-toggle {
    display: none;
}

@media (max-width: 768px) {
    .navbar, .nav-items {
        flex-direction: column;
    }
    
    .nav-items {
        display: none;
    }

    .nav-right {
        margin-left: 0;
    }

    .nav-link-toggle-show {
        display: flex;
    }

    .nav-link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
        color: #F48046;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

#intro {
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url(../../assets/banner-image.jpg)
     no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    padding: 20vh 0;
}

#intro h1 {
    font-size: 60px;
    color: white;
    text-shadow: 3px 3px #F48046;
}

#intro h3 {
    font-size: 30px;
    color: white;
}

#intro p {
    font-size: 20px;
    color: white;
    margin-bottom: 80px;
}

#intro-btn {
    background-color: #F48046;
    font-size: 22px;
    padding: 20px 55px;
}

#intro-btn:hover{
    background-color: #B65F86;
    border-color: #B65F86;
    cursor: pointer;
}

#skills-section {
    background-color: #F6F7F4;   
}

#skills-container {
    width: 80vw;
    margin-top: 50px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;

}

#skills-container h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

#skills-icons-container {
    display: flex;
    flex-direction: column;
}

#skills-icons-container h3 {
    font-size: 25px;
}

.skill-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.skill-groups h4 {
    font-size: 18px;
}

.skills-icons {
    margin: 20px;
    width: 80px;
    padding: 40px 50px;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
}

#projects-section {
    background-color: #40416C;
}

#projects-container {
    width: 100vw;
    margin-top: 50px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
}

#projects-container h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
}

#project-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    background-color: #2f304a;
    border-radius: 8px;
    margin: 20px;
    padding-bottom: 20px;
}

.project-card-img {
    width: 100%;
}

.project-card-body {
    padding: 10px;
    margin-bottom: 10px;
}

.project-card-body h3, p {
    color: white;
}

.project-card h3 {
    font-size: 30px;
}

.card-button-section {
    display: inline;
    margin-bottom: 20px;
}

.card-btns {
    margin-right: 20px;
    font-size: 17px;
    padding: 10px 25px;
}

.card-btns:last-of-type {
    margin-right: 2px;
}

#demo-btn {
    background-color: #F48046;;   
}

#demo-btn:hover {
    background-color: #B65F86;
    cursor: pointer;
}

#github-btn {
    background-color: #A8A7B8;
}

#github-btn:hover {
    background-color: #B65F86;
    cursor: pointer;
}

#about-section {
    background-color: #F6F7F4;
    text-align: center;
    padding-bottom: 15px;
}

#about-section h2 {
    color: black;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: -10px;
}

#about-container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 50px 0;
}


#about-image {
    max-width: 30vw;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
}

#about-text {
    max-width: 50vw;
    text-align: left;
    border-radius: 2px;
}

#about-text p {
    color: black;
    font-size: 20px;
}

@media (max-width: 768px) {
    #about-image, #about-text {
        max-width: 80vw;
        align-self: center;
    }
}

#contact-section {
    background-color: #40416C;
    text-align: center;
}

#contact-section h2 {
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: -2px;
}

footer {
    background-color: #191919;
    text-align: center;
    padding-bottom: 40px
}

footer > h4, p {
    color: white;
    margin-bottom: 25px;
}

.contact-icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 40vw;
    margin: 0 auto;
}


